@import "../../components/bootstrap/less/reset.less";
@import "../../components/bootstrap/less/variables.less";
@import "../../components/bootstrap/less/mixins.less";

@import "variables.less";

@import "styles/ui_add_drop_area.less";
@import "styles/ui_draggableprocess.less";
@import "styles/ui_editable.less";
@import "styles/ui_fieldset.less";
@import "styles/ui_formitem.less";
@import "styles/ui_global_placeholder.less";
@import "styles/ui_icons.less";
@import "styles/ui_notvisual.less";
@import "styles/ui_placeholder.less";
@import "styles/ui_printform.less";
@import "styles/ui_row.less";
@import "styles/ui_settings.less";
@import "styles/ui_tools.less";
@import "styles/ui_workarea.less";

@import "controls/spinner.less";

.ui_settings_editor {
  position: fixed;
  right: @fluidGridGutterWidth;
}

.lverticalline{
  border-left:1px solid @lightgray;
}
.rverticalline{
  border-right:1px solid @lightgray;
}

textarea {
  resize: none;
}

.body {
  margin: auto;
  margin-top: @bodyTopOffset;
  margin-bottom: @bodyBottomOffset;
}

.ui-droppable{
  padding: 5px;
}

.navbar-fixed-top-back{
  z-index: 10;
}

legend {
  margin-bottom: 0;
}

legend + * {
  -webkit-margin-top-collapse : separate;
  margin-top                  : 20px;
}

