//////////////////////////////////////////////////
//  ui_formitem
//////////////////////////////////////////////////

.ui_formitem .control-group, .ui_fieldset__direction {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui_formitem {
  list-style-type: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .mixin_formitem(@display){
    .ui_formitem__move,
    .ui_formitem__minus,
    .ui_formitem__plus,
    .ui_formitem__remove
    {
      cursor: pointer;
      float: right;
      margin-left: 5px;
      display: block;
      color: @toolButtons;
      &:hover{
        color: @hoverButtons;
      }
    }
  }

  .mixin_formitem__tools(@display) {
    .ui_formitem__tools {
      display: @display;
    }
  }

  .mixin_formitem(none);
  &:hover {
    .mixin_formitem(block);
    .mixin_formitem__tools(block);
  }
  &.ui_formitem__editablemode {
    .mixin_formitem__tools(block);
  }

  input, textarea {
    cursor: pointer;
  }

  &.ui-sortable-helper {
    background: @white;
    box-shadow: 0 0 5px 5px #999;
  }
}

.ui_row.form-horizontal .ui_formitem {
  & {
    border-top: none;
    border-bottom: none;
    border-left: 2px solid transparent;
  }
  &:hover {
    border-left-color: rgba(51,51,51,.7);
  }

  &.ui_formitem__editablemode{
    border-color: @blue;

    &:hover {
      border-color: @blueDark!important;
    }
  }
}

.ui_row {
  &.ui_row__selected {
    .ui_row__tools {
      background-color: @blueDark;
      opacity: 1;
    }
  }
  .ui_formitem {
    & {
      border-left: none;
      border-right: none;
      border-bottom: 2px solid transparent;
    }
    &:hover {
      border-bottom-color: rgba(51,51,51,.7);
    }

    &.ui_formitem__editablemode {
      border-color: @blue;

      &:hover {
        border-color: @blueDark!important;
        .ui_formitem__tools {
          background-color: @blueDark!important;
        }
      }

      .ui_formitem__tools {
        background-color: @blue;
        opacity: 1;
      }
    }
  }
  &.form-horizontal.ui-sortable-helper,
  &.ui-sortable-helper {
    .ui_formitem {
      padding: 2px;
      border: none;
      background: @white;
      box-shadow: 0 0 5px 5px #999;
    }
    .ui_row__tools {
      left: 0;
    }
  }
}

.ui_formitem.ui-sortable-helper .ui_formitem__tools {
  display: block;
}

.ui_formitem.ui-sortable-helper {
  background: @white;
  box-shadow: 0 0 3px 3px @lightgray;
}

.ui_formitem__placeholder{
  border: 2px dashed @lightgray;
  background-color: @white;
  height: 96px;
  float: left;
  margin: 0;
  &:first-of-type {
    margin-left: 0;
  }
}

.ui_global_placeholder.row-fluid.form-horizontal .ui_formitem__placeholder {
  width: 100%;
}

.ui-draggable + .ui_formitem__placeholder {
  margin-left: 0;
}

.ui_formitem__tools {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  opacity: .7;
  display: none;
  background: @toolsBackground;
  border-top-right-radius: 5px;
}

.ui_row.form-horizontal .ui_row__tools {
  left: 2px;
  top: 0;
}

.ui_row .ui_row__tools {
  left: 0;
  top: 2px;
}

.ui_icons{
  font-size: 1.3em;
  cursor: pointer;
  &:hover{
    font-size: 1.6em;
  }
}
