////////////////////////////////
// ui_fieldset__direction
////////////////////////////////
.ui_fieldset__direction{
  cursor: pointer;
}

.ui_fieldset__table{
  width: 100%;
}
.ui_fieldset__table-direction{
  & > {
    float: right;
  }
  width: 14px;
}
.ui_fieldset__table-legend{
  width: 100%;
}

.ui_fieldset {
  position: relative;
  .ui_fieldset__direction {
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.ui_fieldset__legend{
  width: 95%;
}