.ui_fieldset__table{
  width: 100%;
}
.ui_fieldset__table-direction{
  & > {
    float: right;
  }
  width: 14px;
}
.ui_fieldset__table-legend{
  width: 100%;
}

.ui_fieldset__tools {
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
[class*="ui_fieldset__tools-"]{
  margin-left: 10px;
  cursor: pointer;
  &.hide{
    display: none;
  }
}

.ui_fieldset__tools-multitypeinput{
  display: inline-block;
}

.ui_fieldset {
  position: relative;

  .ui_fieldset__options{
    right: 20px;
  }
}

.ui_fieldset__legend{
  //width: 95%;
}