////////////////////////////////
// ui_global_placeholder
////////////////////////////////
.ui_global_placeholder{
  display: none;
  min-height: 96px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARUlEQVQYV2NkwALOnj1bjy7MiC6ATZGxsXEjikJcikCGwRXiUwRXSEgRWCExirAqBDkcmwdRTMSlCMVEfIrgCgkpAikEAN0tMom+/kc6AAAAAElFTkSuQmCC) repeat;
}