////////////////////////////////
// ui_global_placeholder
////////////////////////////////
.ui_global_placeholder{
  display: none;
  min-height: 100px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAASElEQVQYV4XQywkAMAgD0LqT+0/gTi3xIJj68aY8RCNmdg+VqgrPhGGFYBLsELYHnFDADTnko9FXD36wSyHBKaqAW54ONwTzALtHNPo9r6sPAAAAAElFTkSuQmCC) repeat;
}