////////////////////////////////
// ui_settings
////////////////////////////////
.ui_settings{
  visibility: hidden;
  min-height: 26px;
}
.ui_settings{
  &.ui_settings-show{
    visibility: visible;
  }
}

.ui_settings_editor{
  overflow: hidden;
}
.ui_settings_editor__area{
  position: fixed;
  height: 80%;
  width: 100%;
  overflow-y:auto;
  top: @bodyOffset;
}