{% set title = "Редактор форм" %}
{% set description = "Description" %}
{% set author = "lexich" %}
{% set work_form_title = "Исходная форма" %}
{% set form_builder_title = "Редактор форм" %}
{% set submit_form = "Отправить форму" %}
{% set add_drag_area = "Добавить основу" %}

<!DOCTYPE html><!--[if lt IE 7]>
<html lang="ru" class="no-js ie6 oldie"></html><![endif]--><!--[if IE 7]>
<html lang="ru" class="no-js ie7 oldie"></html><![endif]--><!--[if IE 8]>
<html lang="ru" class="no-js ie8 oldie"></html><![endif]-->
<!-- [if gt IE 8] <!-->
<html lang="ru" class="no-js">
  <!-- <![endif]-->
  <head>   
    <title>{{ title }}</title>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author }}">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="content-type" content="text/html; charset=utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="CSRFToken" content="${csrfValue()}">
    {% endblock %}
    {% block stylesheet %}
    {% if p.compress_css %}
      {% if p.compress_css %}<link href="{{ p.static_folder }}/{{ p.compress_css }}" rel="stylesheet" media="screen">{% endif %}
      {% if p.compress_cssie7 %}<!--[if lt IE 7]><link href="{{ p.static_folder }}/{{ p.compress_cssie7 }}" rel="stylesheet" media="screen"><![endif]-->{% endif %}
    {% else %}
      <!-- Bootstrap -->
      <link href="{{ p.static_folder }}/css/bootstrap.css" rel="stylesheet" media="screen">
      <link href="{{ p.static_folder }}/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
      <!-- End Bootstrap-->
      <!-- Start Fuelux -->
      <link href="{{ p.static_folder }}/css/fuelux.min.css" rel="stylesheet" media="screen">
      <link href="{{ p.static_folder }}/css/fuelux-responsive.min.css" rel="stylesheet" media="screen">
      <!-- End FuelUX -->
      <link href="{{ p.static_folder }}/css/font-awesome.min.css" rel="stylesheet" media="screen">
      <!--[if IE 7]><link href="static/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" media="screen"><!--[endif]-->
      <link href="{{ p.static_folder }}/css/select2.css" rel="stylesheet" media="screen">
      <link href="{{ p.static_folder }}/css/datepicker.css" rel="stylesheet" media="screen">
      <link href="{{ p.static_folder }}/css/style.css" rel="stylesheet" media="screen">
    {% endif %}
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block script %}
    {% if p and p.livereload %}
    <!--live reload-->
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':' + 6001 + '/livereload.js?snipver=1"><\/script>');</script>
    <!-- end live reload-->
    {% endif %}

    <script src="{{ p.static_folder }}/js/common/base.js"></script>
    <script src="{{ p.static_folder }}/js/requirejs/require.js">     </script>
    <script src="{{ p.static_folder }}/js/config.js"></script>
    {% if p and p.compress_js %}
        <script src="{{ p.static_folder }}/{{p.compress_js}}"></script>
    {% else %}
        <script src="{{ p.static_folder }}/js/main.js"></script>
    {% endif %}

    {% endblock %}
  </body>
</html>