extends base


block body
  .body
    .row-fluid
      h3 #{form_builder_title}
      include components/ui_tools
    .row-fluid
      h3 #{work_form_title}
      .work_form
        ul.work_form__menu(data-drop-accept="*[data-drag-accept]")
          li.placeholder Место для элемента