extends base


block body
  .body.container
    .row-fluid
      h3 #{form_builder_title}
      include components/ui_tools
    .row-fluid
      .span8
        h3 #{work_form_title}
        include components/ui_workarea    
  include components/template    
