extends base


block body
  .body.container
    .row-fluid
      h3 #{form_builder_title}
      include components/ui_tools
    .row-fluid
      .span12(data-html-form)
  include components/template  