{% extends 'base.html' %}
{% import 'layout/ui_tools.html' as tools %} 


{% block content %}
    {% parent %}
    {{ tools.navigation_tabs_full() }}
    <div class="body container-fluid">
        <div class="row-fluid">
            <div class="span8" data-html-form></div>
            <div class="span4 ui_settings_editor" >
                <div class="ui_settings_editor__area" data-html-settings>
                    <h4>Настройки контейнера</h4>
                    <div data-html-settings-container-loader></div>
                    <div data-html-settings-container>
                        <p>
                            Заголовок <input type="text" name="title" value="">
                        </p>
                        <p>
                            <input type="radio" name="direction" value="horizontal" data-js-position> Горизональный
                        </p>
                        <p>
                            <input type="radio" name="direction" value="vertical" data-js-position>Вертикальный
                        </p>
                        <a href="javascript:void(0);" data-js-save class="btn btn-primary">Применить</a>
                        <a href="javascript:void(0);" data-js-remove class="btn">Удалить</a>
                    </div>

                    <h4>Настройки Элемента</h4>
                    <div data-html-settings-loader></div>
                    <div data-html-settings-item>
                        <a href="javascript:void(0);" data-js-save class="btn btn-primary">Применить</a>
                        <a href="javascript:void(0);" data-js-remove class="btn">Удалить</a>
                        <a href="javascript:void(0);" data-js-hide class="btn">Закрыть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'layout/template.html' %}
{% endblock %}