{% extends 'base.html' %}
{% import 'layout/ui_tools.html' as tools %} 

{% block content %}
    {% parent %}
    <script type="text/javascript">
        rootformconfig={};
        {% if p.url %}rootformconfig.url = "{{ p.url }}";{% endif %}
        {% if p.param %}rootformconfig.param = "{{ p.param }}";{% endif %}
    </script>

    <div class="body container-fluid">
        <div class="row-fluid">
            <div class="span9" data-html-form></div>
            <div class="span3 ui_settings_editor" >
                {% include 'settings.html' %}
            </div>
        </div>
    </div>
    {{ tools.navigation_tabs_full() }}
    {% include 'layout/template.html' %}
{% endblock %}