{% extends 'base.html' %}
{% import 'layout/ui_tools.html' as tools %} 


{% block content %}
    {% parent %}
    {{ tools.navigation_tabs_full() }}
    <script type="text/javascript">
        rootformconfig={};
        {% if p.url %}rootformconfig.url = "/forms.json";{% endif %}
        {% if p.param %}rootformconfig.param = "guid";{% endif %}
    </script>

    <div class="body container-fluid">
        <div class="row-fluid">
            <div class="span8" data-html-form></div>
            <div class="span4 ui_settings_editor" >
                {% include 'settings.html' %}
            </div>
        </div>
    </div>
    {% include 'layout/template.html' %}
{% endblock %}