.span2
  - var jsrender = JSON.stringify({
  -  label:"Input",
  -  placeholder:"Input",
  -  type:"input"
  - });  
  script(type="text/template",data-ui-jsrender='#{jsrender}',data-ui-jsrender-type="input", data-ui-jsrender-img="http://networkelement.ru/images/stories/info-icon.jpg")
    |<div class="control-group">
    |  <label class="control-label" for="<%= type %>"><%= label %></label>
    |  <div class="controls">
    |    <input type="text" id="<%= type %>" placeholder="<%= placeholder %>">
    |  </div>    
    |</div>    

.span2
  - var jsrender = JSON.stringify({
  -  label:"Password",
  -  placeholder:"Password",
  -  type:"password",
  - });
  script(type="text/template",data-ui-jsrender='#{jsrender}',data-ui-jsrender-type="password", data-ui-jsrender-img="http://networkelement.ru/images/stories/info-icon.jpg")
    |<div class="control-group">
    | <label class="control-label" for="<%= type %>"><%= label %></label>
    | <div class="controls">
    |   <input type="password" id="<%= type %>" placeholder="<%= placeholder %>">
    | </div>
    |</div>  

.span2
  - var jsrender = JSON.stringify({
  -  label:"Textarea",
  -  placeholder:"Textarea",
  -  type:"textarea"
  - });
  script(type="text/template",data-ui-jsrender='#{jsrender}', data-ui-jsrender-type="textarea", data-ui-jsrender-img="http://networkelement.ru/images/stories/info-icon.jpg")
    |<div class="control-group">
    | <label class="control-label" for="<%= type %>"><%= label %></label>
    | <div class="controls">
    |   <textarea rows="3" id="<%= type %>" placeholder="<%= placeholder %>"></textarea>
    | </div>
    |</div>  

