script(type="text/template",id="formItemTemplate")
  .ui_wrapper(data-drag-accept)
    table.form-item__tools
      tbody
        tr
          td
            span.debug
          td
            span.icon-cogs.ui_icons(data-js-options)
          td
            span.icon-remove.ui_icons(data-js-close)          
    |<%= content %>

script(type="text/template",id="formViewTemplate")
  h4(data-html-row) row: <%= row %>
  table
    tbody
      tr
        td
          span.icon-remove.ui_icons(data-js-close-area)
        td
          span.icon-cog.ui_icons(data-js-options-area)
  div(data-drop-accept)

script(type='text/template',id="areaTemplateItem")  
    |<% if(type==""){ %>    
    |<% } else if(type==""){ %>    
    |<% } else { %>
    |<span class="icon-edit icon-2x"><%= type.charAt(0).toUpperCase() + type.slice(1) %></span>
    |<% } %>

script(type='text/template',id="modalTemplate")
  |<div class="modal">
  |  <div class="modal-header">
  |    <button type="button" data-js-close class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  |    <h3>Settings</h3>
  |  </div>
  |  <div class="modal-body"></div>
  |  <div class="modal-footer">
  |    <a href="#" data-js-close class="btn">Close</a>
  |    <a href="#" data-js-save class="btn btn-primary">Save changes</a>
  |  </div>
  |</div> 

script(type='text/template',data-modal-type="input")
  |<label for="__id_<%= name %>"><%= name %></label>
  |<input id="__id_<%= name %>" type="text" name="<%= name %>" value="<%= value %>">

script(type='text/template',data-modal-type="select")
  |<label for="__id_<%= name %>"><%= name %></label>
  |<select id="__id_<%= name %>" name="<%= name %>" value="<%= value %>">
  | <% _.each(data,function(item){ %>
  |   <option value="<%= item %>" <% if(value==item){ %>selected="selected"<% } %>  ><%= item %></option>
  | <%});%>
  |</select>

script(type='text/template',data-modal-type="hidden")
  |<input id="__id_<%= name %>" type="hidden" name="<%= name %>" value="<%= value %>">