ul.nav.nav-tabs
  li.active
    a(href="#input",data-toggle="tab") Input  
  li
    a(href="#other",data-toggle="tab") Email

.tab-content.ui_tools
  .tab-pane.active(id="input")
    include input
  .tab-pane(id="other")
    p Test 1
