form.form-horizontal.ui_workarea
  .row-fluid
    .span4
      button.btn.icon-share(type="button",data-js-submit-form) #{submit_form}
    .span4
      button.btn.icon-plus(type="button", data-js-add-drop-area) #{add_drag_area}