{% macro component %}
{% set name = "binder" %}
{% set jsrender = {
  name: {
    value: "binder",
    title: "Название"
  },
  notvisual:{
    type:"hidden",
    value:"1"
  },
  source:{
    title: "Источник",
    type: "select",
    data:{
      inject: { data:"loadIds" }
    }
  },
  target:{
    title:"Приемник",
    type: "select",
    data:{
      inject: { data:"loadIds" }
    }
  },
  type:{
    value:"binder",
    type:"hidden"
  },
  param:{
    title: "Наименование передаваемого параметра"
  },
  defaultValue:{
    title: "Значение параметра по-умолчанию"
  },
  action:{
    title: "Наименование события исходного элемента",
    value: "change"
  },
  isParamRegexp:{
    title: "Использование регулятных выражений",
    value: false,
    type: "checkbox"
  },
  dataAttr:{
    title: "Название data-атрибута в который устанавливается фильтр"
  }
} %}
<script type="text/template" data-ui-jsrender="{{ jsrender|json_encode }}" data-ui-jsrender-type="{{ name }}" data-ui-jsrender-img="img/components/binder.png" data-title="Привязка" >
    <div class="ui_tools-binder">
        <div class="ui_tools__item">
            <p><%= name %></p>
        </div>
    </div>
    <object data-binder='{"source":"<%= source %>","target":"<%= target %>"' width="0" height="0"></object>
</script>
{% endmacro %}

{% macro modal %}
<script data-ui-jsrender-modal-template="binder" type="text/template">
    <label for="__id_name">Название</label>
    <input id="__id_name" type="text" name="name">

    <label for="__id_source">Источник</label>
    <select name="source" id="__id_source" data-ui="select2" data-ui-data='{"inject":{"data":"loadIds"}}' />

    <label for="__id_target">Приемник</label>
    <select name="target" id="__id_target" data-ui="select2" data-ui-data='{"inject":{"data":"loadIds"}}' />
</script>
{% endmacro %}