{% macro component %}
  {% set name = "checkbox" %}
  {% set jsrender = {
      label:"checkbox",
      placeholder:"checkbox",
      name: "checkbox",
      help: "help",
      type:{ value:"checkbox", type:"hidden"},
      position:{ value:0, type:"hidden"},
      row:{ value:0, type:"hidden"}
     }
   %}
<script type="text/template" data-ui-jsrender="{{ jsrender|json_encode }}" data-ui-jsrender-type="{{ name }}">
  <div class="control-group">
    <div class="controls">
      <label class="checkbox checkbox-custom" for="<%= id %>">
        <input id="<%= id %>" type="checkbox"/>
      <i class="checkbox"></i><%= label %></label>
      <p class="help-block valtype" data-valtype="help"><%= help %></p>
    </div>
  </div>
</script>

{% endmacro %}