{% macro component %}
{% set name = "datepicker" %}
{% set jsrender = {
    label:"datepicker",
    placeholder:"datepicker",
    name: "datepicker",
    help: "help",
    type:{ value:"datepicker", type:"hidden"},
    format: "dd-mm-yyyy",
    position:{ value:0, type:"hidden"},
    row:{ value:0, type:"hidden"}
}
%}
<script type="text/template" data-ui-jsrender="{{ jsrender|json_encode }}", data-ui-jsrender-type="{{ name }}">
<div class="control-group">
    <label class="control-label" for="<%= type %>"><%= label %></label>
    <div class="controls">
        <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="<%= type %>">
            <input size="16" type="text" value="12-02-2012">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <p class="help-block valtype" data-valtype="help"><%= help %></p>
    </div>
</div>
</script>

{% endmacro %}
