{% macro component %}
  {% set name = "directoryitem" %}
  {% set jsrender = {
  type: {
    value: "directoryitem",
    type: "hidden"
  },
  path: {
    title: "Привязка (path)",
    type: "selectRemote",
    data: {
      ajax: {
        url: "/path.json",
        dataType: 'json',
        quietMillis: 100
      }
    }
  },
  directory: {
    title: "Уникальное имя справочника",
    type: "selectRemote",
    data: {
      ajax: {
        url: "/select2.json",
        dataType: 'json',
        quietMillis: 100
      }
    }
  },
  filters: {
    title: "Фильтр"
  },
  label: {
    title:"Наименование",
    value:"Справочник"
  },
  help: {
    title:"Строка помощи",
    value:"строка помощи"
  },
  title: {
    title:"Всплывающая подсказка",
    value: "подсказка"
  },
  readOnly: {
    value: false,
    type: "checkbox",
    title:"Только для чтения"
  },
  multiple: {
    value: false,
    type: "checkbox",
    title: "Разрешен множественный выбор элементов"
  },
  clear: {
    value: false,
    type: "checkbox",
    title: "Доступна возможность очистить содержимое"
  },
  fullWidth: {
    value: false,
    type: "checkbox",
    title: "По всей ширине"
  },
} %}
<script type="text/template" data-ui-jsrender="{{ jsrender|json_encode }}" data-ui-jsrender-type="{{ name }}" data-title="Директория" data-ui-jsrender-img="img/components/directory_input.png">
    <div class="control-group">
        <label class="control-label" for="<%= path %>"><%= label %></label>
        <div class="controls">
          <div class="select2-container directory-select" data-psevdo-input>
            <a href="#" onclick="return false;" class="select2-choice plus-as-tab" tabindex="-1">
                <abbr class="select2-search-choice-close" style="display:none;"></abbr>
                <div>
                    <b></b>
                </div>
            </a>
            <div class="select2-drop select2-with-searchbox select2-offscreen" style="display: block;">
                <div class="select2-search">
                    <input type="text" autocomplete="off" class="select2-input plus-as-tab" style="" tabindex="-1" name="<%= path %>" id="<%= path %>">
                </div>
                <ul class="select2-results"></ul>
            </div>
          </div>
        <p class="help-block valtype span12" style="margin-left:0;" data-valtype="help"><%= help %></p>
    </div>
</div>
</script>
{% endmacro %}