{% macro component %}
  {% set name = "input" %}
  {% set jsrender = {
      label:"input",
      placeholder:"input",
      name: "input",
      help: "help",
      type:{ value:"input", type:"hidden"},
      position:{ value:0, type:"hidden"},
      row:{ value:0, type:"hidden"}
     }
   %}
<script type="text/template" data-ui-jsrender="{{ jsrender|json_encode }}" data-ui-jsrender-type="{{ name }}">
  <div class="control-group">
    <label class="control-label" for="<%= id %>"><%= label %></label>
    <div class="controls">
      <input type="text" id="<%= id %>" name="<%= name %>" placeholder="<%= placeholder %>">
      <p class="help-block valtype" data-valtype="help"><%= help %></p>
    </div>
  </div>
</script>

{% endmacro %}  

{% macro modal %}
<div data-ui-jsrender-modal-template="input" style="display:none">
  <label for="__id_label">label</label>
  <input id="__id_label" type="text" name="label" value="Comment"><label for="__id_placeholder">placeholder</label>
  <input id="__id_placeholder" type="text" name="placeholder" value="Your comment"><label for="__id_name">name</label>
  <input id="__id_name" type="text" name="name" value="comment"><label for="__id_type">type</label>
  <select id="__id_type" name="type" value="textarea">
    <option value="input">input</option>
    <option value="password">password</option>
    <option value="textarea" selected="selected">textarea</option>
  </select><input id="__id_position" type="hidden" name="position" value="1"><input id="__id_row" type="hidden" name="row" value="0"><label for="__id_help">help</label>
  <input id="__id_help" type="text" name="help" value=""><label for="__id_direction">direction</label>
  <input id="__id_direction" type="text" name="direction" value="horizontal"></div>  
</div>
{% endmacro %} 