{# FormViewTemplate class="ui_formview" #}
<script type="text/template" id="FormViewTemplate">
    <form data-html-formloader></form>
    <div data-drop-accept-placeholder="form" class="ui_global_placeholder row-fluid form-horizontal"></div>
</script>

{# FieldsetViewTemplate tagName="fieldset" #}
<script type="text/template" id="FieldsetViewTemplate">
    <legend data-bind="title" class="ui_fieldset__legend" ><%= title %></legend>

    <div data-html-fieldset-loader class="ui_fieldset__loader"></div>
    <div data-drop-accept-placeholder="fieldset" class="ui_global_placeholder row-fluid"></div>
    <div class="ui_fieldset__tools">
      <% if(extention == 'multiinput'){ %>
        <a class="btn btn-success ui_fieldset__tools-multitinput" id="_multiinput" href="#" tabindex="-1">
          <i class="icon-plus"></i> Добавить
        </a>
      <% } else if(extention == 'multitypeinput'){ %>
        <div class="dropdown ui_fieldset__tools-multitypeinput">
          <a class="btn btn-success dropdown-toggle" id="_multitypeinput" data-toggle="dropdown" href="#" tabindex="-1">
             Добавить <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

            <% _.each( extentiondata, function(item){ %>
              <li><a href="#" data-js-fieldset-multitypeinput="<%= item.id %>" ><%= item.text %></a></li>
            <% }); %>
          </ul>
        </div>
      <% } %>
      <span class="icon-th-large ui_fieldset__tools-options" data-js-fieldset-options></span>
      <span class="icon-resize-vertical ui_fieldset__tools-direction" data-js-fieldset-position></span>
    </div>
</script>

{# RowViewTemplate class="ui_row" #}
<script type="text/template" id="RowViewTemplate">
    <div data-drop-accept-placeholder="row" data-ghost-row class="ui_row__prev_loader row-fluid ui_global_placeholder"></div>
    <div data-drop-accept class="ui_row__loader row-fluid"></div>
</script>

{# FormItemViewTemplate class="ui_formitem" #}
<script type="text/template" id="FormItemViewTemplate">
    <div class="ui_formitem__tools clearfix">
        <span data-js-formitem-move class='icon-move ui_formitem__move'/>
        <span data-js-formitem-incsize class="icon-plus ui_formitem__plus" ></span>
        <span data-js-formitem-decsize class="icon-minus ui_formitem__minus" ></span>
        <span data-js-formitem-remove class="icon-remove ui_formitem__remove" ></span>
    </div>
    <%= content %>
</script>

{# NotVisualViewTemplate class="ui_notvisual" #}
<script id="NotVisualViewTemplate" type="text/template">
    <div class="row-fluid ui_notvisual__container navbar-inner" data-js-notvisual-drop=""></div>
</script>

{# NotVisualItemTemplate class="ui_notvisual__item" #}
<script id="NotVisualItemTemplate" type="text/template">
    <%= content %>
</script>


{# Значек для схематичного отображения контролов #}
<script type="text/template" id="ToolItemViewTemplate">
<div class="ui_tools__item">
  <% if(title!=""){ %>
     <p><%= title.charAt(0).toUpperCase() + title.slice(1) %></p>
  <% } %>
</div>
</script>

{# Модальное окно #}
<script type="text/template" id="modalTemplate">
  <div class="modal">
   <div class="modal-header">
     <button type="button" data-js-close class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h3>Settings</h3>
   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
     <a href="#" data-js-close class="btn">Close</a>
     <a href="#" data-js-save class="btn btn-primary">Save changes</a>
   </div>
  </div> 
</script>

<script type="text/template" data-modal-type="input">
  <label for="__id_<%= name %>"><%= title %></label>
  <input id="__id_<%= name %>" type="text" name="<%= name %>" value="<%= value %>" data-type="">
</script>

<script type="text/template" data-modal-type="select">
  <label for="__id_<%= name %>"><%= title %></label>
  <%
    var testMultiple = function(){
      return (_.isObject(data) && data.multiple) ? "multiple" : "";
    }

    var optionSelected = function(item){
      var item = _.isObject(item) ? item.id : item;
      return (item == value) ? 'selected="selected"' : '';
    }
    var printVal = function(val){
      return _.isString(val) ? val : JSON.stringify(val);
    }
  %>
  <select id="__id_<%= name %>" data-type="" data-ui="select2"
          name="<%= name %>"
          data-value='<%= printVal(value) %>'
          data-ui-data='<%= JSON.stringify(data) %>'
          <%= testMultiple() %> >
  <% if(_.isArray(data)){ _.each(data,function(item){ %>
    <option value="<%= _.isObject(item) ? item.id : item %>" <%= optionSelected(item) %>  >
      <%= _.isObject(item) ? item.text : item %>
    </option>
  <%});}%>
  </select>
</script>

<script type="text/template" data-modal-type="selectRemote">
  <label for="__id_<%= name %>"><%= title %></label>
  <input id="__id_<%= name %>" type="text" name="<%= name %>" value="<%= value %>" data-type="" data-ui="select2" data-ui-data='<%= JSON.stringify(data) %>'>
</script>

<script data-modal-type="checkbox" type="text/template">
  <label for="__id_<%= name %>">
  <input id="__id_<%= name %>" type="checkbox" name="<%= name %>" data-type="boolean" <%= value %> <% if(value){ %>checked<% } %>> <%= title %></label>
</script>

<script type="text/template" data-modal-type="textarea">
  <label for="__id_<%= name %>"><%= title %></label>
  <textarea id="__id_<%= name %>" name="<%= name %>" id="" cols="30" rows="10" value="<%= value %>" data-type=""></textarea>
</script>

<script type="text/template" data-modal-type="list">
  <label for="__id_<%= name %>"><%= title %></label>
  <textarea id="__id_<%= name %>" name="<%= name %>" cols="30" rows="10" data-type="list"><%= value.join('\n') %></textarea>
</script>