{# FormViewTemplate class="ui_formview" #}
<script type="text/template" id="FormViewTemplate">
    <form data-html-formloader>
    </form>
    {# Просто кнопка #}
    <div class="row-fluid ui_add_drop_area">
        <button class="btn icon-plus ui_add_drop_area-button" type="button" data-js-add-drop-area>Добавить площадку</button>
    </div>
</script>

{# FieldsetViewTemplate tagName="fieldset" #}
<script type="text/template" id="FieldsetViewTemplate">
    <legend><%= title %></legend>
    <div data-html-fieldset-loader class="ui_fieldset__loader"></div>
</script>

{# RowViewTemplate class="ui_row" #}
<script type="text/template" id="RowViewTemplate">
    <span class="icon-check-empty ui_row__move" data-js-row-move></span>
    <p>
        <a href="javascript:void(0)" data-js-row-disable>Enabled</a>
        <a href="javascript:void(0)" data-js-row-position>Horizontal</a>
    </p>
    <div data-drop-accept class="ui_row__loader row-fluid"></div>
</script>

{# FormItemViewTemplate class="ui_formitem" #}
<script type="text/template" id="FormItemViewTemplate">
    <span data-js-formitem-move class='icon-circle-blank ui_formitem__move'/>
    <%= content %>
</script>



{# Значек для схематичного отображения контролов #}
<script type="text/template" id="areaTemplateItem">
  <% if(type==""){ %>    
  <% } else if(type==""){ %>    
  <% } else { %>
  <p><%= type.charAt(0).toUpperCase() + type.slice(1) %></p>
  <% } %>
</script>
{# Модальное окно #}
<script type="text/template" id="modalTemplate">
  <div class="modal">
   <div class="modal-header">
     <button type="button" data-js-close class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h3>Settings</h3>
   </div>
   <div class="modal-body"></div>
   <div class="modal-footer">
     <a href="#" data-js-close class="btn">Close</a>
     <a href="#" data-js-save class="btn btn-primary">Save changes</a>
   </div>
  </div> 
</script>

<script type="text/template" data-modal-type="input">
  <label for="__id_<%= name %>"><%= name %></label>
  <input id="__id_<%= name %>" type="text" name="<%= name %>" value="<%= value %>">
</script>

<script type="text/template" data-modal-type="select">
  <label for="__id_<%= name %>"><%= name %></label>
  <select id="__id_<%= name %>" name="<%= name %>" value="<%= value %>">
  <% _.each(data,function(item){ %>
    <option value="<%= item %>" <% if(value==item){ %>selected="selected"<% } %>  ><%= item %></option>
  <%});%>
  </select>
</script>

<script type="text/template" data-modal-type="hidden"><input id="__id_<%= name %>" type="hidden" name="<%= name %>" value="<%= value %>"></script>

