{% import 'controls/input.html' as input %} 
{% import 'controls/password.html' as password %}
{% import 'controls/textarea.html' as textarea %}
{% import 'controls/select2.html' as select2 %}
{% import 'controls/other.html' as other  %}
{% import 'controls/datepicker.html' as datepicker %}
{% import 'controls/daterange.html' as daterange %}
{% import 'controls/file.html' as file %}
{% import 'controls/checkbox.html' as checkbox %}

{% import 'controls/binder.html' as binder %}

{% macro navigation_tabs %}
<div class="navbar navbar-inverse navbar-fixed-top navbar-fixed-top-back">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <a class="brand icon-save" href="javascript:void(0);" data-js-global-form-save title="Сохранить"></a>
                <ul class="nav">
                    <li class="active">
                        <a href="#input" data-toggle="tab">Input</a>
                    </li>
                    <li>
                        <a href="#js" data-toggle="tab">Dynamic</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#notvisual">Not Visual</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content ui_tools navbar-inner">

        <div id="input" class="tab-pane active ui_tools__container">
            <ul>
                <li>{{ password.component() }}</li>
                <li>{{ textarea.component() }}</li>
                <li>{{ input.component() }}</li>
                <li>{{ file.component() }}</li>
            </ul>
        </div>

        <div id="js" class="tab-pane ui_tools__container">
            <ul>
                <li>{{ select2.component() }}</li>
                <li>{{ datepicker.component() }}</li>
                <li>{{ daterange.component() }}</li>
                <li>{{ checkbox.component() }}</li>
            </ul>
        </div>

        <div id="notvisual" class="tab-pane ui_tools__container">
            <ul>
                <li>{{ binder.component() }}</li>
            </ul>
        </div>
    </div>
</div>
{% endmacro %}

{% macro navigation_content %}
<div style="display:none">
  {{ input.modal() }}
  {{ binder.modal() }}
</div>
{% endmacro %}

{% macro render %}
    {{ navigation_tabs() }}
    {{ navigation_content() }}
{% endmacro %}