.span2
  - var jsrender = JSON.stringify({
  -  label:"Input",
  -  placeholder:"Input",
  -  name: "input",
  -  help: "help",
  -  type:{ value:"input", type:"select"},
  -  position:{ value:0, type:"hidden"},
  -  row:{ value:0, type:"hidden"}
  - });  
  script(type="text/template",data-ui-jsrender='#{jsrender}',data-ui-jsrender-type="input", data-ui-jsrender-img="")
    |<div class="control-group">
    |  <label class="control-label" for="<%= type %>"><%= label %></label>
    |  <div class="controls">
    |    <input type="text" id="<%= type %>" name="<%= name %>" placeholder="<%= placeholder %>">
    |    <p class="help-block valtype" data-valtype="help"><%= help %></p>
    |  </div>    
    |</div>    

.span2
  - var jsrender = JSON.stringify({
  -  label:"Password",
  -  placeholder:"Password",
  -  name: "password",
  -  type:{ value:"password", type:"select" },
  -  help: "help",
  -  position:{ value:0, type:"hidden"},
  -  row:{ value:0, type:"hidden"}
  - });
  script(type="text/template",data-ui-jsrender='#{jsrender}',data-ui-jsrender-type="password", data-ui-jsrender-img="")
    |<div class="control-group">
    | <label class="control-label" for="<%= type %>"><%= label %></label>
    | <div class="controls">
    |   <input type="password" id="<%= type %>" name="<%= name %>" placeholder="<%= placeholder %>">
    |   <p class="help-block valtype" data-valtype="help"><%= help %></p>
    | </div>
    |</div>  

.span2
  - var jsrender = JSON.stringify({
  -  label:"Textarea",
  -  placeholder:"Textarea",
  -  name: "textarea",
  -  help: "help",
  -  type:{ value:"textarea",type:"select"},
  -  position:{ value:0, type:"hidden"},
  -  row:{ value:0, type:"hidden"}
  - });
  script(type="text/template",data-ui-jsrender='#{jsrender}', data-ui-jsrender-type="textarea", data-ui-jsrender-img="")
    |<div class="control-group">
    | <label class="control-label" for="<%= type %>"><%= label %></label>
    | <div class="controls">
    |   <textarea rows="3" id="<%= type %>" name="<%= name %>" placeholder="<%= placeholder %>"></textarea>
    |   <p class="help-block valtype" data-valtype="help"><%= help %></p>
    | </div>
    |</div>  

